{% extends 'base.html' %}

{% block title %}статья блога{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class=\"card\">
            <div class=\"card-header\">
                <h2 class=\"card-title mb-0\">статья блога</h2>
            </div>
            <div class=\"card-body\">
                <p>содержимое статьи будет здесь.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
"@ | out-file -filepath "blog\templates\blog\blogpost_detail.html" -encoding utf8