{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в наш магазин!</h1>
    <p class="lead">Лучшие товары по лучшим ценам.</p>
    <hr class="my-4">
    <p>Ознакомьтесь с нашим каталогом товаров.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'catalog:product_list' %}" role="button">Перейти к каталогу</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>Популярные товары</h3>
        <p>Самые востребованные товары нашего магазина.</p>
    </div>
    <div class="col-md-4">
        <h3>Новинки</h3>
        <p>Самые свежие поступления в нашем ассортименте.</p>
    </div>
    <div class="col-md-4">
        <h3>Акции</h3>
        <p>Специальные предложения и скидки.</p>
    </div>
</div>
{% endblock %}