{% extends 'base.html' %}

{% block title %}контакты{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>контакты</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">наши контакты</h5>
                <p class="card-text">
                    <strong>телефон:</strong> +7 (999) 123-45-67<br>
                    <strong>email:</strong> info@store.ru<br>
                    <strong>адрес:</strong> москва, ул. примерная, д. 123
                </p>
                <h6>часы работы:</h6>
                <p>пн-пт: 9:00-18:00<br>сб-вс: 10:00-16:00</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}