@"
{% extends 'base.html' %}

{% block title %}добавить товар{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class=\"card-title mb-0\">добавить товар</h4>
            </div>
            <div class=\"card-body\">
                <p>форма для добавления товара будет здесь.</p>
                <p>эта страница доступна только авторизованным пользователям.</p>
                <a href=\"{% url 'catalog:product_list' %}\" class=\"btn btn-secondary\">назад к каталогу</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
"@ | out-file -filepath "catalog\templates\catalog\product_form.html" -encoding utf8